<div class="mt-12 border-t border-sky-500">
  <div
    class="container mx-auto max-w-screen-lg flex justify-between px-4 py-12"
  >
    <p>Developed By: Jluis</p>
    <ul class="flex flex-wrap justify-end gap-4">
      <li>
        <a
          href="https://platzi.com/p/JluisE/"
          class="block w-6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="platzi.svg"
            class="w-full object-contain"
            alt="Visita mi perfil de platzi"
          />
        </a>
      </li>
      <li>
        <a
          href="https://github.com/kenNoYuusha/"
          class="block w-6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="github.svg"
            class="w-full object-contain"
            alt="Visita mi perfil de github"
          />
        </a>
      </li>
    </ul>
  </div>
</div>
