---
import { EmailInput } from "../components/EmailInput";
---

<div
  id="home"
  class="flex flex-col justify-center items-center mt-8 sm:flex-row p-4 gap-4"
>
  <div class="flex flex-col gap-8 basis-3/5">
    <h1 class="font-bold text-2xl">
      Jorge Luis Estevez desarrollador <strong class="text-sky-500"
        >frontend</strong>
    </h1>
    <div>
      <p class="mb-4">
        Desarrollador frontend con experiencia en HTML, CSS y JavaScript,
        enfocado en crear interfaces funcionales, accesibles y con un diseño
        atractivo. Me gusta convertir ideas en soluciones web, priorizando tanto
        la estética como la usabilidad
      </p>
      <p>
        Estoy en busca de oportunidades donde pueda colaborar y seguir creciendo
        profesionalmente
      </p>
    </div>
    <a
      href="CV-Jorge_Estevez.pdf"
      download="CV Jorge Estevez"
      class="px-4 py-3 rounded-md border-2 border-sky-500 hover:backdrop-brightness-75 w-40 grid place-content-center"
      >Descargar CV</a
    >
    <EmailInput client:load />
  </div>
  <div class="w-full max-w-72 hidden sm:block basis-2/5">
    <img
      src="profile-img.webp"
      alt="profile-photo"
      class="w-full object-cover rounded-full"
    />
  </div>
</div>
